<header class='px-4'>
  <nav>
    <ul class='flex gap-1'>
      <li><a class='underline-offset-1 hover:underline' href='/'>Home</a></li>
      <li>
        <a class='underline-offset-1 hover:underline' href='/result'>Result</a>
      </li>
    </ul>
  </nav>
</header>
