---
import Layout from '~/layouts/layout.astro'
import Poll from '~/components/poll/poll.astro'
export const prerender = false
---

<Layout>
  <main class='mx-auto max-w-screen-lg'>
    <Poll />
  </main>
</Layout>
