---
import Layout from '~/layouts/layout.astro'
import Chooser from '~/components/regions/chooser.astro'
import RegionChooserToggleButton from '~/components/regions/toggle'
---

<Layout>
  <main class='flex min-h-screen flex-col items-center justify-center'>
    <RegionChooserToggleButton client:idle />
    <Chooser />
  </main>
</Layout>

<script>
  import { $region } from '~/components/regions/state'

  $region.subscribe((region) => {
    console.log(region)
  })
</script>
