---
import Layout from '~/layouts/layout.astro'
import Component from '~/components/result/result'
---

<Layout title='Hasil Polling'>
  <main class='mx-auto min-h-screen max-w-screen-lg px-4'>
    <Component client:load />
  </main>
</Layout>
