---
import Layout from '~/layouts/layout.astro'
import ResultComponent from '~/components/result/result.astro'

export const prerender = true
---

<Layout title='Hasil Suara'>
  <main class='mx-auto min-h-screen max-w-screen-lg px-4'>
    <ResultComponent server:defer />
  </main>
</Layout>
