---
import Layout from '~/layouts/layout.astro'
import Poll from '~/components/poll/poll.astro'
---

<Layout title='Berikan Suara Anda'>
  <main
    class='mx-auto flex min-h-screen max-w-screen-lg flex-col items-center justify-center px-4'
  >
    <Poll />
  </main>
</Layout>
