---
import type { HTMLAttributes } from 'astro/types'

export interface Props extends Omit<HTMLAttributes<'body'>, 'title'> {}

const props = Astro.props
---

<html lang='id'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <slot name='head' />
  </head>
  <body {...props}>
    <slot />
  </body>
</html>
