---
import type { HTMLAttributes } from 'astro/types'

export interface Props extends Omit<HTMLAttributes<'body'>, 'title'> {
  htmlAttributes?: HTMLAttributes<'html'> | undefined
}

const { htmlAttributes, ...bodyAttributes } = Astro.props
---

<html {...htmlAttributes}>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <slot name='head' />
  </head>
  <body {...bodyAttributes}>
    <slot />
  </body>
</html>
